csv/
summary/
logs/
config-*/
config-kmeans-*/
myoutput-*/
output-kmeans-*/
tmp_*/
test-*.out
kmeansResults-*.out
Rnw/
!Rnw/kmeansSummary.Rnw
db/
preprocessingResults*.err
preprocessingHLResults*.err
preprocessingResults*.out
preprocessingHLResults*.out
