csv/
summary/
logs/
config-kamila*/
config-kmeans*/
output-kmeans*/
output-kamila*/
tmp_*/
test-*.out
kmeansResults-*.out
kamilaResults-*.out
Rnw/k*Summary.*
Rnw/figure/
Rnw/framed.sty
Rnw/texput.log
Rnw/x.log
!Rnw/k*Summary.Rnw
db/
preprocessingResults*.err
preprocessingHLResults*.err
preprocessingResults*.out
preprocessingHLResults*.out
my_*
py/my_*
